<div class="ui  huge  secondary pointing  menu" style="background-color:#FBBD08">
  <li class="item" routerLink="/home" routerLinkActive="active"> 
        <i class="home icon"></i>
      Home
  </li>
   <li class="item" routerLink="/about" routerLinkActive="active"> 
        <i class="file icon"></i>
      About
   </li>
   <li class="item" routerLink="/feedback" routerLinkActive="active"> 
        <i class="handshake icon"></i>
      Feedback
   </li>
    <div class="right menu">


      <li class="ui item" routerLink="/register" routerLinkActive="active">       
          <i class="user plus icon"></i>

        Register
      </li>
      <li class="ui item" routerLink="/login" routerLinkActive="active">
        <i class="user icon"></i>
          Login
      </li>
    </div>
  </div>
<router-outlet></router-outlet>