<div fxFlex>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

      <div fxFlex fxFlexAlign="center"
           class="autocomplete-container"
           [ngStyle]="{'min-width.%': 100}"
>        <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
                                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                        (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete>
      </div>
      